.form {
	display: grid;
	gap: 20px;
}

.form__label {
	display: grid;
	gap: 10px;
	font-size: 16px;
}

.form__input {
	padding: 15px 10px;
	border-radius: var(--radius);
	border: 2px solid rgba(128, 128, 128, 0.5);
}

.form__files {
	position: relative;
	display: flex;
}

#newPhotos {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 127px;
	height: 100%;
	margin: 0;
	opacity: 0.00001;
	cursor: pointer;
}

.form__file {
	background-color: gray;
	border: 1px solid gray;
	border-radius: 10px;
	cursor: pointer;
	font-size: 18px;
	outline: none;
	padding: 10px;
	transition: all 0.3s ease;
}

.form__photos {
	max-height: 460px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 10px;
	overflow-y: scroll;
}

.form__wrapper {
	display: grid;
	gap: 10px;
	position: relative;
}

.form__remove {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	padding: 0;
	z-index: 3;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	cursor: pointer;
}

.form__photo {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--radius);
	aspect-ratio: 1 / 1;
}

.form__btns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	margin: 0;
	padding: 0;
	border-style: none;
}
