.select__container {
	position: relative;
	width: 100%;
	min-height: 40px;
	border: 1px solid var(--text-color);
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px;
	border-radius: var(--radius);
}

.select__container:focus {
	border-color: var(--accent-color);
}

.select__value {
	flex-grow: 1;
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

.select__close {
	background-color: transparent;
	color: var(--text-color);
	border-style: none;
	cursor: pointer;
	padding: 0;
	font-size: 18px;
}

.select__close-btn:focus,
.select__close-btn:hover {
	color: #333333;
}

.select__divider {
	background-color: var(--text-color);
	align-self: stretch;
	width: 2px;
}

.select__caret {
	translate: 0 25%;
	border: 4px solid transparent;
	border-top-color: var(--text-color);
}

.select__options {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
	max-height: 150px;
	overflow-y: auto;
	border: 1px solid var(--text-color);
	border-radius: 10px;
	width: 100%;
	left: 0;
	bottom: calc(100% + 5px);
	background-color: white;
	z-index: 100;
}

.select__options.select__show {
	display: block;
}

.select__option {
	padding: 4px 8px;
	cursor: pointer;
	transition: all 0.2s ease;
}

.select__option.select__selected {
	background-color: hsl(200, 100%, 70%);
}

.select__option.select__highlighted {
	background-color: hsl(200, 100%, 50%);
	color: white;
}

.select__option-badge {
	display: flex;
	align-items: center;
	border: 1px solid var(--text-color);
	border-radius: var(--radius);
	padding: 2px 4px;
	gap: 2px;
	cursor: pointer;
	background-color: transparent;
}

.select__option-badge:hover,
.select__option-badge:focus {
	background-color: hsl(0, 100%, 90%);
	border-color: hsl(0, 100%, 50%);
}

.select__option-badge:hover > .select__remove,
.select__option-badge:focus > .select__remove {
	color: hsl(0, 100%, 50%);
}

.select__option-badge > .select__remove {
	font-size: 14px;
	color: #777;
}
